.registerPageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../../asset/loginBackground.jpg') center / cover ;
}

.registerPageContainer > h1 {
    font-size: 5rem;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    margin-top: 3rem;
}

.registerPagesign {
    font-size: 3rem;
    color: #ff006e;
}

hr {
    margin: 20px 0;
    width: 80%;
    opacity: 40%;
    align-self: center;
}

form {
    width: 35%;
    height: max-content;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 30px 20px;
    background-color: rgba(150, 150, 150, 0.2);
    display: flex;
    margin-top: 2rem;
}

.registerPageformHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-bottom: 20px;
}

.registerPagechosen {
    color: white;
    font-size: 2rem;
    font-family: 'Montserrat';
}

.registerPagenotChosen {
    color: gray;
    opacity: 0.6;
    font-size: 1.6rem;
    font-family: 'Montserrat';
}

.registerPageformHeader h2 {
    cursor: pointer;
    transition: all ease 0.3s;
}

.registerPageformHeader h2:hover {
    color: white;
    opacity: 1;
}

form label {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

form input {
    margin-bottom: 20px;
    padding: 15px 10px;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: 0.5px solid lightgray;
    border-radius: 10px;
}

form textarea {
    margin-bottom: 20px;
    padding: 15px 10px;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: 0.5px solid lightgray;
    border-radius: 10px;
}

form button {
    width: max-content;
    font-size: 20px;
    color: white;
    background-color: #ff006e;
    padding: 12px 35px;
    border: none;
    border-radius: 10px;
    align-self: center;
    margin-top: 15px;
}

form p {
    color: lightgray;
    margin-top: 15px;
    align-self: center;
}

.registerPagelink {
    text-decoration: none;
    color: #ff006e;
    cursor: pointer;
}