.createEventContainer {
    width: 100%;
    height: 120vh;
    margin: 0;
}

.createEventWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createEventWrapper > h1 {
    font-size: 4rem;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    margin: 2rem;
}

.createEventWrapper > form {
    margin: 0;
    background-color: transparent;
}

.createEventWrapper > form > input {
    color: gray;
}

.createEventWrapper > form > label {
    color: gray;
}

.createEventWrapper > form > textarea {
    color: gray;
}
