.sponsorContainer {
    width: 100%;
    height: max-content;
    padding: 0 auto;
    background: linear-gradient(rgba(50, 50, 50, 1),rgba(30, 30, 30, 0.8), rgba(35, 35, 35, 0.2)), url('../../asset/sponsorBackground.jpeg') center / cover;
}

.sponsorWrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.sponsorWrapper > h1 {
    font-size: 4rem;
    font-family: 'Rubik', sans-serif;
    color: #ff006e;
    margin-bottom: 20px;
}

.sponsorWrapper > p {
    font-size: 18px;
    font-family: 'Montserrat';
    color: whitesmoke;
    opacity: 0.7;
    margin-left: 2rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    line-height: 1.7rem;
    width: 90%;
}

.sponsors {
    margin-top: 40px;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor h1 {
    color: white;
    font-family: 'Montserrat';
    text-shadow: 0 0 5px rgba(0,0,0,0.3);
}