.artistPageContainer {
    width: 100%;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('../../asset/artistBackground.jpeg') center / cover;
}

.artistPageInfo {
    width: 40%;
}

.artistPageFN {
    font-family: 'Rubik', sans-serif;
    font-size: 5rem;
    font-weight: bolder;
    font-style: italic;
    color: #ff006e;
}

.artistPageLN {
    font-size: 4.5rem;
    font-style: italic;
    color: gray;
    margin-top: -14px;
    font-family: 'Rubik', sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.2px;
}

.artistPageIntro {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 1rem;
    color: lightgray;
    padding-right: 30px;
    line-height: 1.5;
}

.artistPageEvents {
    width: 35%;
}

.artistPageEvents > h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 2rem;
}

.ArtistPageallArtistEvents {
    display: flex;
    width: 100%;
    margin-left: 30px;
    gap: 25px;
}