.ticketCardContainer {
    width: 850px;
    height: 300px;
    display: flex;
}

.ticketCardleftPart {
    width: 75%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 15px 5px lightgray;
    background: linear-gradient(to right, rgba(100, 100, 100, 1), rgba(50, 50, 50, 0.5),rgba(0, 0, 0, 0.3)), url('../../asset/main-event.jpg') center / cover;
}

.ticketCardeventTitleContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: 20px;
    left: 20px;
}

.ticketCardeventTitle {
    font-size: 35px;
    color: whitesmoke;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
}

.ticketCardop2 {
    opacity: 65%;
}
.ticketCardop3 {
    opacity: 25%;
}
.ticketCardop4 {
    opacity: 6%;
}

.ticketCardtimeLocationContainer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
}

.ticketCardlocation {
    color: white;
}

.ticketCardtime {
    color: coral;
    text-shadow: 0 0 10px rgba(55, 55, 55, 0.3);
}

.ticketCardrightPart {
    width: 25%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px lightgray;
    background: linear-gradient(white, whitesmoke);   
}

.ticketCardeventPriceContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center; 
}

.ticketCardticketType {
    font-size: 38px;
    font-style: italic;
    color: coral;
}

.ticketCardticketPrice {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 0 10px gray;
}